@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
  --primary: #BB8282;
  --secondary : rgb(136, 36, 36);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img{
  width: 100%;
  width: 100%;
}


.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    z-index: 1000;
    transition: 0.6s;
}

.navbar.sticky{
  margin-top: 0px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  transition: bottom .6s;
  /* z-index: 1000; */
}

.navbar .logo-navbar{
  display: none;
}




.nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav li {
    list-style: none;
    margin: 0 10px;
  }
  
  .nav li a {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    /* transition: 0.3s; */
    margin-left: 30px;
  }
  
  .nav li:hover a {
    color: rgb(136, 36, 36);
  }

  .navbar .checkbox {
    display: none;
    
  }


  .banner{
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    /* background-color: rgba(136, 36, 36, 0.568); */
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-bottom: 10px;
  }


  .banner::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

.banner .overlay {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
  }

  .overlay .banner-bg {
    width: 100%;
    height: 70vh;
    animation: zoom 16s linear infinite;
  }


  .banner-content{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    z-index: 10;
    /* max-width: 1320px; */
    /* margin: 0 auto; */
  }

  .banner-content .logo-banner{
    width: 100%;
    height: 100px;
  }

  .logo-banner img{
    width: 100%;
    height: 100%;
  }

  .banner-content p.devise{
    text-transform: uppercase;
    font-size: 3vw;
    letter-spacing: 5px;
    color: #fff;
    font-weight: bold;
  }
  

  .banner-content p.welcome{
    /* text-transform: uppercase; */
    font-size: 2.5vw;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
  }

  .banner-content div.btn button{
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  text-decoration: none;
  background: black;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 59px;
  box-shadow: 0 0 0 5px black, inset 0 0 0 2px rgb(136, 36, 36);
  }

  .banner-content div.btn button:hover{
    background-color: rgb(136, 36, 36);
    box-shadow: 0 0 0 5px black, inset 0 0 0 2px black;
  }

  .about-us{
    width: 100%;
  }

  .title{
    color: rgb(136, 36, 36);
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 40px;
  }

  .about-us .container{
    padding: 50px 50px 0px 50px;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    /* background-color: black; */
    justify-content: space-between;
  }

  .container .image-about-us, .container .container-about-us{
    height: 400px;
    /* background-color: brown; */
  }

  .container .image-about-us{
    width: 35%;
    margin-right: 10px;
  }

  .image-about-us img{
    width: 100%;
    height: 100%;
  }

  .container .container-about-us{
   width: 60%; 
   background-color: #fff;
  }

  .container-about-us .content-about-us{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    height: 200px;
  }

  .content-about-us .primary-content{
    height: 90px;
    width: 100%;
    font-weight: 900;
    font-size: 22px;
    color: rgb(136, 36, 36);
  }

  .content-about-us .secondary-content{
    margin-top: 15px;
    width: 100%;
    height: 90px;
    font-size: 16px;
    font-weight: 500;
  }

  .container-about-us .content-devise-au{
    display: flex;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    justify-content: space-between;
  }

  .content-devise-au .card-devise{
    width: calc(50% - 20px);
    height: 100%;
  }


  .card-devise .image-devise{
    width: 80px;
    height: 80px;
  }

  .image-devise img{
    width: 90%;
    height: 90%;
  }

  .content-card-devise h4{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(136, 36, 36);
  }

  .statistiques{
    height: 300px;
    width: 100%;
    background-color: black;
  }


  @media screen and (max-width: 1000px){

    .topbar{
      display: none;
    }

    .banner{
      height: 50vh;
      /* background-color: rgba(136, 36, 36, 0.568); */
      display: flex;
      justify-content: center;
      align-items: center;
    }

   .overlay .banner-bg, .overlay, .banner::before {
      height: 50vh;
    }

    .banner-content{
      margin-left: 0;
      justify-content: center;
      align-items: center;
    }
  
    .banner-content .logo-banner{
      width: 70%;
      height: 100px;
    }
  
    .logo-banner img{
      width: 100%;
      height: 100%;
    }
  
    .banner-content p.devise{
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 3px;
      color: #fff;
      font-weight: bold;
    }
    
  
    .banner-content p.welcome{
      /* text-transform: uppercase; */
      font-size: 14px;
      letter-spacing: 2px;
      color: #fff;
      font-weight: bold;
    }
  
    .banner-content div.btn button{
    margin-top: 40px;
    }

    .navbar{
      margin-top: 0;
    }
    

  }


  @media screen and (max-width: 700px){

   

   .banner, .overlay .banner-bg, .overlay, .banner::before {
      height: 60vh;
    }

    .about-us .container{
      padding: 20px;
      width: 100%;
      display: block;
      height: unset;
    }

    .container .image-about-us, .container .container-about-us {
      width: 100%;
      margin-bottom: 40px;
      height: unset;
    }

    .container-about-us .content-about-us{
      height: auto;
    }
    .content-about-us .primary-content{
      height: unset;
      margin-bottom: 30px;
    }
  
    .content-about-us .secondary-content{
      height: auto;
    }
  
    .container-about-us .content-devise-au{
      display: block;
      width: 100%;
      height: auto;
      
    }
  
    .content-devise-au .card-devise{
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
  
  
    .card-devise .image-devise{
      width: 80px;
      height: 80px;
    }
  
    .image-devise img{
      width: 90%;
      height: 90%;
    }
  
    .content-card-devise h4{
      margin-bottom: 10px;
    }
  
 
  }